.or-ng-fc-modal-wrap{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.3);
    z-index:9999;
}
.or-ng-fc-modal{
    width:440px;
    background:#fff;
    position:fixed;
    top:20%;
    left:calc(50% - 220px);
    padding:30px;
}
.or-ng-fc-modal p{
    font-size:1em;
    text-align:center;
}